USE [master]
GO
/****** Object:  Database [checksDB]    Script Date: 7/16/2021 10:31:11 PM ******/
CREATE DATABASE [checksDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'checksDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\checksDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'checksDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\checksDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [checksDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [checksDB]
GO
/****** Object:  Table [dbo].[ConceptoPago]    Script Date: 7/16/2021 10:31:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConceptoPago](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_ConceptoPago] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 7/16/2021 10:31:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[TipoPersona] [varchar](50) NOT NULL,
	[Identificacion] [varchar](20) NOT NULL,
	[Balance] [money] NOT NULL,
	[CuentaContableProveedor] [int] NOT NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Proveedores] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistroSolicitudCheque]    Script Date: 7/16/2021 10:31:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistroSolicitudCheque](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumeroSolicitud] [int] NOT NULL,
	[IDProveedor] [int] NOT NULL,
	[Monto] [money] NOT NULL,
	[FechaRegistro] [date] NOT NULL,
	[Estado] [char](1) NOT NULL,
	[CuentaContableProveedor] [int] NOT NULL,
	[CuentaContableInterna] [int] NOT NULL,
 CONSTRAINT [PK_RegistroSolicitudCheque] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RegistroSolicitudCheque]  WITH CHECK ADD  CONSTRAINT [FK_RegistroSolicitudCheque_Proveedores] FOREIGN KEY([IDProveedor])
REFERENCES [dbo].[Proveedores] ([ID])
GO
ALTER TABLE [dbo].[RegistroSolicitudCheque] CHECK CONSTRAINT [FK_RegistroSolicitudCheque_Proveedores]
GO
ALTER TABLE [dbo].[RegistroSolicitudCheque]  WITH CHECK ADD  CONSTRAINT [FK_RegistroSolicitudCheque_Proveedores1] FOREIGN KEY([CuentaContableProveedor])
REFERENCES [dbo].[Proveedores] ([ID])
GO
ALTER TABLE [dbo].[RegistroSolicitudCheque] CHECK CONSTRAINT [FK_RegistroSolicitudCheque_Proveedores1]
GO
USE [master]
GO
